.create-invoice-btn {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  border: 1px solid var(--color-purple);
  background-color: #fff;
  color: var(--color-purple);
  font-weight: bold;
  font-size: 1rem;
  width: 193px;
  margin: 16px 0 0 auto;
  text-transform: uppercase;
}

.create-invoice-btn:hover {
  cursor: pointer;
}