@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form-input {
  padding: 1em 0;
  position: relative;
}

label {
  display: block;
}

strong {
  text-transform: capitalize;
}

.validation-message {
  font-weight: 400;
  float: right;
}

input {
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid var(--color-content-inactive);
  background: #fbfbfb;
  width: 100%;
  font-size: 0.9em;
  padding: 1em 1em;
  outline: none;
  transition: 0.2s;
  color: var(--color-content-active);
}

/* .form-input.pending::after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  position: absolute;
  transform-origin: 50% 50%;
  right: 1em;
  bottom: 2em;
  animation: spin 1.5s infinite linear;
  background: conic-gradient(#ef476f 0deg,
      #ffd166 60deg,
      #ffd166 90deg,
      #06d6a0 150deg,
      #06d6a0 190deg,
      #118ab2 230deg,
      #118ab2 280deg,
      #ef476f 320deg,
      #ef476f 360deg);
} */

input:focus {
  border: 1px solid var(--color-content-active);
}

.success .validation-message {
  color: var(--color-success);
}

.warning .validation-message {
  color: var(--color-warning);
}

.error .validation-message {
  color: var(--color-error);
}

.success input {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}

.warning input {
  border: 1px solid var(--color-warning);
  color: var(--color-warning);
}

.error input {
  border: 1px solid var(--color-error);
  color: var(--color-error);
}