@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600&display=swap");

form {
  --color-error: rgb(245, 137, 137);
  --color-warning: rgb(245, 202, 137);
  --color-success: rgb(121, 196, 114);
  --color-content-active: #5081a6;
  --color-content-semi: #89b8dd;
  --color-content-inactive: #cfe3f0;
}

* {
  font-family: "Baloo Chettan 2", cursive;
}

body {
  --color-purple: #7182FF;
  font-size: 18px;
  color: var(--color-purple);
  margin: 0;
  padding: 0;
}

input::placeholder {
  font-style: italic;
  color: #aaa
}